.page {
  background-color: #010001;
  max-width: 1231px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.header {
  padding-top: 53px;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0 auto;
}

.logo {
  width: 138px;
  height: 16px;
}

.menu__list {
  display: flex;
  margin-top: 0;
  padding: 0;
}

.menu__item {
  margin-right: 20px;
  list-style: none;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: white
}

.color_grey {
  color: #808080;
}

.world__title {
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin: 110px auto 28px;
  width: 98%;
  text-align: center;
}

.world__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: lowercase;
  margin: 0 auto;
  max-width: 268px;
  justify-content: center;
}

.world__text::after {
  content: '';
  width: 1px;
  height: 59px;
  margin: 27px auto;
  display: block;
  background-color: white;
}

.world__video {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto 150px;
  height: 750px;
}

.info__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  max-width: 177px;
  margin-bottom: 46px;
  text-transform: uppercase;
}

.info__column {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 8px;
  min-width: 280px;
}

.info__table {
  margin-bottom: 218px;
}

.info__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  max-width: 490px;
  margin-bottom: 300px;
}

.info {
  position: relative;
}

.info__rocket {
  position: absolute;
  top: -180px;
  z-index: 1;
  right: 2%;
  max-width: 700px;
  max-height: 1718px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.footer__logo {
  margin-bottom: 43px;
}

.social-links__list {
  display: flex;
  padding: 0;
}

.social-links__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: white;
  list-style: none;
  text-decoration: none;
}

.social-links__item {
  list-style: none;
  margin-right: 20px;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-links__list {
  margin: 0 auto 30px;
  display: flex;
  max-width: 544px;
}

.footer__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 455px;
  margin-bottom: 30px;
}

.footer__mail {
  text-decoration: none;
  color: #808080;
}

.footer__contact {
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 21px 87px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .header {
    width: 98%;
  }
}

@media (max-width:768px) {
  .social-links__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__text {
    width: 80%;
  }
  .info__table {
    width: 60%;
  }
  .info__column {
    min-width: 100px;
  }
  .info__rocket {
    max-height: 1200px;
  }
  .world__video {
    margin-bottom: 50px;
  }
  .info__text {
    margin-bottom: 150px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  .header__logo {
    margin-bottom: 30px;
  }
  .menu__list {
    margin-bottom: 30px;
  }
  .world__title {
    margin-top: 20px;
  }
  .info__text {
    margin-bottom: 70px;
  }
  .info__rocket {
    max-width: 40%;
  }
  .world__text::after {
    margin-bottom: 10px;
  }
}

@media (max-width: 420px) {
  .world__title {
    font-size: 40px;
  }
  .info__table {
    margin-bottom: 50px;
  }
}

